## 10-K Data Analysis of Microsoft,Tesla,Apple

In [1]:
import pandas as pd

In [14]:
df = pd.read_excel("10Kdata.xlsx")

In [ ]:
def revenue_growth(df):
    return df.groupby(['Company'])['Total revenue'].pct_change() * 100
def net_income_growth(df):
    return df.groupby(['Company'])['Net Income'].pct_change() * 100

## DataFrame

In [16]:
df.head(10)

,Company,Year,Total revenue,Net Income,Total Assests,Total Liabilites,Cash,Revenue Growth (%),Net Income Growth (%)
0,MicroSoft,2022,198270000000,72738000000,364840000000,198298000000,89035000000,NaN,NaN
1,MicroSoft,2023,211915000000,72361000000,411976000000,205753000000,87582000000,6.882030,-0.518299
2,MicroSoft,2024,245122000000,88136000000,512163000000,243686000000,118548000000,15.669962,21.800417
3,Tesla,2022,81462000000,12587000000,82338000000,36440000000,14724000000,NaN,NaN
4,Tesla,2023,96773000000,14974000000,106618000000,43009000000,13256000000,18.795267,18.964010
5,Tesla,2024,97690000000,7153000000,122070000000,48390000000,14923000000,0.947578,-52.230533
6,Apple,2022,394328000000,99803000000,352755000000,302083000000,122151000000,NaN,NaN
7,Apple,2023,383285000000,96995000000,352583000000,290437000000,110543000000,-2.800461,-2.813543
8,Apple,2024,391035000000,93736000000,364980000000,308030000000,118254000000,2.021994,-3.359967

#### Average revenue and net income by company

In [ ]:
def avg_metrics():
    return df.groupby('Company')[['Total revenue', 'Net Income']].mean()

           Total revenue    Net Income
Company
Apple       3.895493e+11  9.684467e+10
MicroSoft   2.184357e+11  7.774500e+10
Tesla       9.197500e+10  1.157133e+10

#### Total revenue and net income by year

In [ ]:
def yearly_totals():
    return df.groupby('Year')[['Total revenue', 'Net Income']].sum()

      Total revenue    Net Income
Year
2022   674060000000  185128000000
2023   691973000000  184330000000
2024   733847000000  189025000000

## Trends and Financial Changes in 10-K Data

This analysis explores the financial performance of Microsoft, Tesla, and Apple using their 10-K data. By calculating year-over-year growth rates for total revenue and net income, we gain insights into each company's financial trajectory.

**Revenue Trends:**  
All three companies have shown consistent revenue growth over the years, with some fluctuations. Microsoft and Apple generally display steady increases, reflecting their mature market positions and diversified product lines. Tesla, being a relatively newer entrant, exhibits higher revenue growth rates, especially in recent years, indicating rapid expansion and scaling of operations.

**Net Income Trends:**  
Net income growth varies more significantly. Apple and Microsoft maintain strong profitability, with net income rising in line with revenue. Tesla, on the other hand, shows more volatility in net income, with periods of losses followed by sharp increases as the company moves toward sustained profitability.

**Aggregate Analysis:**  
- The average revenue and net income by company highlight Apple's and Microsoft's financial strength compared to Tesla.
- Yearly totals show the overall growth of the sector, with each company contributing to increasing industry revenues and profits.
- Maximum and minimum revenue values for each company reveal the scale of their operations and the pace of their growth.
- Revenue growth statistics indicate that while Tesla's growth is more erratic, it also has the highest peaks, reflecting its rapid development phase.

**Conclusion:**  
The data demonstrates that while Apple and Microsoft are stable, high-performing companies, Tesla is in a high-growth phase with increasing profitability. These trends reflect broader industry dynamics, where established players maintain steady growth and new entrants experience rapid but volatile